<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Servico01" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61480/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Servico01" contract="ServiceReference1.Servico01"
                name="BasicHttpBinding_Servico01" />
        </client>
    </system.serviceModel>
</configuration>